// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1,7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-image: asset-url('i.jpeg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text_align: center;
  margin-bottom: 50px;
  letter-spacing: 10px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  borter-top: 1px;
  border-color: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-sice: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.input_checkbox input {
  width: auto !important;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}
